<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <title> {{ site.title }} | {{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/2014/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/2014/new.css" />
    <script src="/2014/scripts.js" type="text/javascript"></script>
  </head>
  <body>
    <div style="background-color: #fff">
      <div style="float: left; margin: 15px 25px 0px 20px"><a href="{{site.baseurl}}" title="Домой"><img src="/2014/img/logo.png" alt="logo" width="80px"/></a></div>
      <div style="margin: 0px 10px 10px 10px" >
        </br>
        <span style="font-size: 20px; color: #ea7500">20 &mdash; 30 августа 2014 года, «Буревестник», XVII школа-семинар</span> </br>
        <span style="font-size: 32px; font-family: Arial Narrow; color: #cc5500"><b>«СОВРЕМЕННЫЕ ПРОБЛЕМЫ АЭРОГИДРОДИНАМИКИ»</b></span> </br>
        <span style="font-size: 20px; color: #ea7500">посвященная памяти академика РАН Г.Г. Черного и </br>
        55-летию со дня основания НИИ механики МГУ </span>
      </div>
      <!--div style="float: right; margin: 0 20px 2px 10px; font-size: 12px; color: #03c03c">
        20 &mdash; 30 августа 2014 года, «Буревесник»
      </div-->
      <div style="clear: left"></br></div>
    </div>
    <div style="width: 100%; background-color: #ff8800; height: 2px"></div>
    <div id="location"> 
      <a href="{{site.baseurl}}">Домой</a> &gt; <a href="{{ page.url }}">{{ page.title }}</a>
    </div>
    <div id="container">
      <div id="sidebar">
	<ul class="body">
          <li><a href="/2014/index.html">О школе</a></li>
          <li><a href="/2014/org.html">Организаторы</a></li>
          <li><a href="/2014/place.html">Место проведения</a></li>
          <li><a href="/2014/downloads/Программа 2014_ИВ.pdf">Программа (PDF)</a></li>
          <li><a href="/2014/pay.html">Оплата</a></li>
          <li><a href="/2014/abstracts.html">Тезисы докладов</a></li>
          <li><a href="/index.html">Новости</a></li>
          <li><a href="/2014/downloads.html">Файлы</a></li>
          <li><a href="/2014/contacts.html">Контакты</a></li>
        </ul>
      </div>
      <div id="main">
        <div id="content" class="body">
          {{ content }}
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>
        По вопросам, связанным с сайтом, обращайтесь: <a id="contact"><script>document.write(f('yand', 'pimanov-vla', 'ex.ru', 'dimir'))</script></a>
      </p>
      <p>Дата последнего изменения на сайте {{ site.time | localize: "%d %B %Y" }}</p>
    </div>
  </body>
</html>
